table div{
    background: gold;
    vertical-align: top;
    text-align: center;
}
#px{
    font-size: xx-small;
    font-family: "Times New Roman", Georgia, serif;
    width: 5px; height: 5px;
}
#cm{
    font-weight: lighter;
    font-family: fantasy;
    width: 5cm; height: 5cm;
}
#em{
    text-transform: uppercase;
    width: 5em; height: 5em;
}
#ex{
    font-family: "Comic Sans MS", sans-serif;
    font-stretch: extra-condensed;

    width: 5ex; height: 5ex;
}

#in{
    font-weight: 800;
    width: 2.5in; height: 2.5in;
}
#mm{
    hyphens: none;
    font: small Verdana, sans-serif;
    width: 5mm; height: 5mm;
}
#pc{
    letter-spacing: 15px;
    width: 5pc; height: 5pc;
}
#percent{
    word-break: break-all;
    width: 5%; height: 5%;
}
#vw{
    width: 5vw; height: 5vw;
}
#vmin{
    text-indent: 10px;
    white-space: nowrap;
    font: italic medium "Courier New";
    width: 5vmin; height: 5vmin;
}
#pt{
    font-size: x-small;
    width: 5pt; height: 5pt;
}
#vh{
    word-spacing: 10px;
    width: 5vh; height: 5vh;
}